body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    background-color: #0f81fb;
    color: #f3f3f3;
    border-radius: 3px;
}

.btn.active{
    box-shadow: 0 0 0 0.125rem rgba(13, 128, 250, 0.5);
}

.drop-wrapper{
    position: relative;
}

.drop-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0 #ccc;
}

.drop-menu a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #343434;
}

.fondo{
    background-image: url('../imagenes/fondo_login.jpg');
    width: 100%;
    height: 100vh;
}

.contenedor_index {
	display: flex;
	flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
}

.slices{
    background-image: url('../imagenes/banner_index.jpg');
    height: 400px;
    width: 100%;
    background-color: #7FB3D5;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

.links{
    height: 700px;
    background-color: #C60;
}
.boton1 {
	border-radius: 0;
	-webkit-appearance: none;
	width: 200px;
	margin: 0 auto;
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px;
	border: 0;
	font-size: 1em;
	color: white;
	font-family: "Roboto", sans-serif;
}
.cell_yellow{
    background-color: yellow;
}

.cell_orange{
    background-color: #F79861;
}
.cell_red{
    background-color: red;
}

.cell_pink{
    background-color: #f08080;
}
.cell_orange_c{
    background-color: #FDB18E;
}
.cell_purple{
    background-color: #816EBE;
}